<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="py-5 cover">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h4>!Loguéate para empezar¡</h4>
            <form class="pi-draggable" draggable="true" method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="form-group">
                <input class="form-control" id="username" maxlength="30" name="username" placeholder="Nombre de Usuario"
                  type="text" />
              </div>
              <div class="form-group">
                <input class="form-control" id="password" maxlength="30" name="password" placeholder="Contraseña" type="password" />
              </div>


              {% if form.errors %}
              {% for field in form %}
              {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              {% endif %}

              <button class="btn btn-primary btn-shadow" type="submit">Entrar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
{% endblock %}